<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>[%d{ISO8601}][%highlight(%-5level)][%thread][%cyan(%logger{10}:%L)] %yellow(%msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>50</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>5G</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{ISO8601}][%-5level][%thread][%logger{10}:%L] %msg%n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT" />
    </root>
</configuration>